/*UTILITY*/

body {
    margin: 0;
    font-family: Verdana, sans-serif;
    background: rgb(49, 173, 255);
}

header {
    width: 100%;
    height: 70px;
    background: rgb(0, 0, 0);
    padding: 0;
    margin-bottom: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
}

#logo {
    width: 200px;
    height: 70px;
    float: left;
    margin-top: auto;
}

nav {
    float: right;
    margin-right: 20px;
    margin-bottom: 5px;
    padding-top: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
}

nav li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav li a:hover {
    color: rgb(49, 173, 255);
    text-decoration: underline;
}

section#info {
    width: 100%;
    height: 460px;
    background-image: url(/assets/Golfcourse.jpg);
    background-size: 100% 100%;
    padding: 0;
}

.infocontent {
    width: 100%;
    margin: auto;
    padding-top: 80px;
    text-align: center;
    color: rgb(255, 255, 255);
}

section#info h1 {
    font-size: 65px;
    margin-top: 35px;
    margin-bottom: 30px;
    font-family: 'Oleo Script Swash Caps', cursive;
    line-height: 1em;
}

section#info h3 {
    margin-bottom: 60px;
    color: rgb(255, 255, 255);
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#services {
    width: 100%;
    height: 840px;
    background: rgb(49, 173, 255);
    margin: 0 auto 0;
    padding: 10px 0;
}

section#services .col-lg-12 {
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
}

section#services h4 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 25px;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgb(255, 255, 255);
    padding-left: 5px;
}

section#services p {
    width: 100%;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgb(255, 255, 255);
    padding-left: 5px;
}

section#services hr {
    width: 100px;
    height: 3px;
    margin: auto;
    color: rgb(255, 255, 255);
    border: 0 none;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: rgb(0, 0, 255);
}

section#services .videocontent {
    width: 286px;
    height: 300px;
    float: right;
    text-align: center;
}

section#services .account {
    width: 325px;
    height: 300px;
    float: right;
    text-align: left;
    padding-left: 15px;
}

.teetimes {
    width: 160px;
    height: 30px;
    background: linear-gradient(#0000ff, #31adff);
    text-align: center;
    padding: 5px 1px 1px;
    margin-right: 10px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 10px;
}

.teetimes a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.teetimes:hover {
    background: linear-gradient(#31adff, #0000ff);
}

.login {
    width: 75px;
    height: 20px;
    background: linear-gradient(#0000ff, #31adff);
    text-align: center;
    padding: 2px 2px 2px;
    margin-right: 100px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.login:hover {
    background: linear-gradient(#31adff, #0000ff);
}

.createaccount {
    width: 160px;
    height: 30px;
    background: linear-gradient(#0000ff, #31adff);
    text-align: center;
    padding: 5px 1px 1px;
    margin-right: 10px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 10px;
}

.createaccount a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.createaccount:hover {
    background: linear-gradient(#31adff, #0000ff);
}

section#get {
    width: 100%;
    height: 410px;
    background: rgb(11, 143, 224);
    padding: 35px 0;
}

section#get h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgb(255, 255, 255);
}

section#get hr {
    width: 100px;
    height: 3px;
    margin: auto;
    color: rgb(255, 255, 255);
    border: 0 none;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: rgb(0, 0, 255);
}

section#get p {
    font-size: 1em;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgb(255, 255, 255);
}

section#get aside {
    width: 250px;
    height: 100px;
    float: left;
    text-align: center;
    margin-top: 30px;
    margin-left: 200px;
}

section#get aside img {
    width: 15%;
    height: 37px;
    background: rgb(200, 200, 200);
    margin: auto;
}

section#get aside h3 {
    font-size: 15px;
    margin-top: 10px;
    margin-left: -3px;
    color: rgb(255, 255, 255);
}

section#get .formpage {
    width: 180px;
    height: 50px;
    background: linear-gradient(#0000ff, #31adff);
    padding: 3px 3px 2px;
    margin-top: 20px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
}

section#get .formpage a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section#get .formpage a:hover {
    background: linear-gradient(#31adff, #0000ff);
}

section#get .contact {
    width: 225px;
    height: 25px;
    margin-top: 15px;
    font-size: 1em;
    margin-left: 35px;
}

.contact a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.contact a:hover {
    color: #0000ff;
    text-decoration: underline;
}

footer {
    width: 100%;
    height: 225px;
    background: rgb(0, 0, 0);
    padding: 5px 0;
}

.footercontent {
    margin-top: 25px;
    margin-left: 250px;
}

.footercontent h3 {
    width: 250px;
    height: 20px;
    margin-top: 2px;
    font-size: 15px;
    margin-left: 35px;
    color: rgb(255, 255, 255);
}

.activities {
    width: 250px;
    height: 20px;
    margin-top: 30px;
    font-size: 1em;
    margin-left: 35px;
}

.activities a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.activities a:hover {
    color: #0b8fe0;
    text-decoration: underline;
}

.footercontent img {
    width: 20%;
    height: 150px;
    margin-top: 10px;
    float: right;
    margin-right: 325px;
}

.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

/* THESE RULES APPLY TO THE MEDIUM REZ DISPLAY, AND CASCADE DOWN TO THE LOW REZ DISPLAY */

@media (max-width: 768px) {
    
header {
    width: 100%;
    height: auto;
    margin-bottom: auto;
}

#logo {
    width: 50%;
    height: 35px;
    }

section#info {
    width: 900px;
    height: 460px;
}

.container {
    width: 100%;
    margin: 0;
}

.infocontent {
    width: 100%;
    margin: auto;
    padding-top: 80px;
    text-align: center;
    color: rgb(255, 255, 255);
}

section#info h1 {
    font-size: 65px;
    margin-top: 35px;
    margin-bottom: 30px;
    line-height: 1em;
}

section#info h3 {
    margin-bottom: 60px;
}

section#services {
    width: 100%;
    height: 100%;
}

section#services .col-lg-12 {
    width: 100%;
}

section#services p {
    font-size: 18px;
}

section#get {
    width: 900px;
    height: 400px;
}

section#get p {
    font-size: 18px;
}

section#get aside {
    width: 15%;
    float: left;
    margin-left: 110px;
}

section#get aside img {
    width: 25%;
}

section#get .formpage {
    width: 180px;
    height: 60px;
    padding: 5px 8px 0px;
    margin-top: 0;
}

section#get .contact {
    margin-left: -30px;
}    
    
footer {
    width: 900px;
}

.footercontent {
    margin-left: 125px;
}

.activities {
    width: 275px;
    font-size: 18px;
}

.footercontent img {
    margin-right: 175px;
}
    
}

/* THESE RULES APPLY TO THE LOW REZ DISPLAY, AND DO NOT CASCADE */

@media (max-width: 320px) {

header {
    width: 100%;
    height: auto;
    margin-bottom: auto;
}

#logo {
    width: 50%;
    height: 35px;
}

section#info {
    width: 900px;
    height: 460px;
}

.infocontent {
    width: 100%;
    margin: auto;
    padding-top: 80px;
    color: rgb(255, 255, 255);
}

section#info h1 {
    font-size: 65px;
    margin-top: 35px;
    margin-bottom: 30px;
    line-height: 1em;
}

section#info h3 {
    font-size: 30px;
    margin-bottom: 60px;
}
    
section#services {
    width: 235%;
    height: 100%;
}

}
