/*UTILITY*/

body {
    margin: 0;
    font-family: Verdana, sans-serif;
    color: rgb(255,255,255);
}

header {
    width: 100%;
    height: 70px;
    background: rgb(0, 0, 0);
    padding: 0;
    margin-bottom: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
}

#logo {
    width: 200px;
    height: 70px;
    float: left;
    margin-top: auto;
}

nav {
    float: right;
    margin-right: 20px;
    margin-bottom: 5px;
    padding-top: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
}

nav li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav li a:hover {
    color: rgb(49, 173, 255);
    text-decoration: underline;
}

section#info {
    width: 100%;
    height: 470px;
    background: url(/assets/soccerfield.jpg);
    background-size: 100% 100%;
    padding: 0;
}

.infocontent {
    width: 100%;
    margin: auto;
    padding-top: 80px;
    text-align: center;
    color: rgb(255, 255, 255)
}

section#info h1 {
    font-size: 65px;
    margin-top: 35px;
    margin-bottom: 30px;
    font-family: 'Oleo Script Swash Caps', cursive;
    line-height: 1em;
}

section#info h3 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#services {
    width: 100%;
    height: 550px;
    background: rgb(49, 173, 255);
    margin: 0 auto 0;
    padding: 10px 0;
}

section#services h2 {
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#services hr {
    width: 100px;
    height: 3px;
    margin: auto;
    color: rgb(255, 255, 255);
    border: 0 none;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: rgb(0, 0, 255);
}

section#services aside {
    width: 286px;
    height: 300px;
    float: left;
    text-align: center;
    margin-left: 180px;
}

section#services aside img {
    width: 45%;
    height: 100px;
    background: rgb(200, 200, 200);
    text-align: center;
}

section#services aside h4 {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 10px;
    margin-left: -3px;
    color: rgb(255, 255, 255);
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#services aside p {
    font-size: 18px;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#services aside .activity {
    width: 150px;
    height: 35px;
    background: linear-gradient(#31adff, #0000ff);
    text-align: center;
    padding: 5px 1px 1px;
    margin-top: 20px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    margin-left: 75px;
}

section#services aside .activity a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section#services aside .activity:hover {
    background: linear-gradient(#0000ff, #31adff);
}

section#adult {
    width: 100%;
    height: 760px;
    background: rgb(11, 143, 224);
    background-size: 100% 100%;
    padding: 5px 0;
}

section#adult h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#adult hr {
    width: 100px;
    height: 3px;
    margin: auto;
    color: rgb(255, 255, 255);
    border: 0 none;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: rgb(0, 0, 255);
}

section#adult aside {
    width: 525px;
    height: 300px;
    float: left;
    text-align: left;
    margin-left: 100px;
}

section#adult aside h3 {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: left;
    margin-top: 10px;
    margin-left: -3px;
    color: rgb(255, 255, 255);
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#adult aside p {
    font-size: 1em;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#adult aside .register {
    width: 150px;
    height: 35px;
    background: linear-gradient(#31adff, #0000ff);
    text-align: center;
    padding: 5px 1px 1px;
    margin-top: 20px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    margin-left: 25px;
}

section#adult aside .register a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section#adult aside .register:hover {
    background: linear-gradient(#0000ff, #31adff);
}

section#lilkickers {
    width: 100%;
    height: 1010px;
    background: #0B3861;
    color: rgb(255, 255, 255);
    background-size: 100% 100%;
    padding: 5px;
}

section#lilkickers h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#lilkickers hr {
    width: 100px;
    height: 3px;
    margin: auto;
    color: rgb(255, 255, 255);
    border: 0 none;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(0, 0, 255);
}

section#lilkickers img {
    width: 50%;
    height: 250px;
    background: rgb(200, 200, 200);
    text-align: center;
    margin-top: 20px;
    margin-left: 300px;
}

section#lilkickers p {
    width: 750px;
    text-align: left;
    margin-left: 300px;
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#lilkickers .register {
    width: 225px;
    height: 35px;
    background: linear-gradient(#31adff, #0000ff);
    text-align: center;
    padding: 3px 1px 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    margin-left: 600px;
}

section#lilkickers .register a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section#lilkickers .register:hover {
    background: linear-gradient(#0000ff, #31adff);
}

section#youth {
    width: 100%;
    height: 700px;
    background: rgb(11, 143, 224);
    background-size: 100% 100%;
    padding: 5px;
}

section#youth h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 60px;
    color: rgb(255, 255, 255);
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#youth hr {
    width: 100px;
    height: 3px;
    margin: auto;
    color: rgb(255, 255, 255);
    border: 0 none;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: rgb(0, 0, 255);
}

section#youth aside {
    width: 525px;
    height: 300px;
    float: left;
    text-align: left;
    margin-left: 100px;
}

section#youth aside h3 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 5px;
    margin-left: -3px;
    color: rgb(255, 255, 255);
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#youth aside p {
    font-size: 18px;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#youth aside .register {
    width: 150px;
    height: 35px;
    background: linear-gradient(#31adff, #0000ff);
    text-align: center;
    padding: 5px 1px 1px;
    margin-top: 20px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    margin-left: 25px;
}

section#youth aside .register a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section#youth aside .register:hover {
    background: linear-gradient(#0000ff, #31adff);
}

section#get {
    width: 100%;
    height: 420px;
    background: rgb(49, 173, 255);
    padding: 35px 0;
}

section#get h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgb(255, 255, 255);
}

section#get hr {
    width: 100px;
    height: 3px;
    margin: auto;
    color: rgb(255, 255, 255);
    border: 0 none;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: rgb(0, 0, 255);
}

section#get p {
    font-size: 1em;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgb(255, 255, 255);
}

section#get aside {
    width: 250px;
    height: 100px;
    float: left;
    text-align: center;
    margin-top: 30px;
    margin-left: 200px;
}

section#get aside img {
    width: 15%;
    height: 37px;
    background: rgb(200, 200, 200);
    margin: auto;
}

section#get aside h3 {
    font-size: 15px;
    margin-top: 10px;
    margin-left: -3px;
    color: rgb(255, 255, 255);
}

section#get .formpage {
    width: 180px;
    height: 50px;
    background: linear-gradient(#0000ff, #31adff);
    padding: 3px 3px 2px;
    margin-top: 20px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
}

section#get .formpage a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section#get .formpage a:hover {
    background: linear-gradient(#31adff, #0000ff);
}

section#get .contact {
    width: 225px;
    height: 25px;
    margin-top: 15px;
    font-size: 1em;
    margin-left: 35px;
}

.contact a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.contact a:hover {
    color: #0000ff;
    text-decoration: underline;
}

footer {
    width: 100%;
    height: 225px;
    background: rgb(0, 0, 0);
    padding: 5px 0;
}

.footercontent {
    margin-top: 25px;
    margin-left: 250px;
}

.footercontent h3 {
    width: 250px;
    height: 20px;
    margin-top: 2px;
    font-size: 15px;
    margin-left: 35px;
    color: rgb(255, 255, 255);
}

.activities {
    width: 250px;
    height: 20px;
    margin-top: 30px;
    font-size: 1em;
    margin-left: 35px;
}

.activities a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.activities a:hover {
    color: #0b8fe0;
    text-decoration: underline;
}

.footercontent img {
    width: 20%;
    height: 150px;
    margin-top: 10px;
    float: right;
    margin-right: 325px;
}

.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

/* THESE RULES APPLY TO THE MEDIUM REZ DISPLAY, AND CASCADE DOWN TO THE LOW REZ DISPLAY */

@media (max-width: 768px) {
    
header {
    width: 100%;
    height: auto;
    margin-bottom: auto;
}

#logo {
    width: 50%;
    height: 35px;
}
    
section#info {
    width: 1100px;
    height: 460px;
}

.container {
    width: 100%;
    margin: 0;
}

.infocontent {
    width: 100%;
    margin: auto;
    padding-top: 80px;
    text-align: center;
    color: rgb(255, 255, 255);
}

section#info h1 {
    font-size: 65px;
    margin-top: 35px;
    margin-bottom: 30px;
    line-height: 1em;
}

section#info h3 {
    margin-bottom: 60px;
}

section#services {
    width: 1100px;
    height: 545px;
}
    
section#services aside {
    width: 25%;
    height: 360px;
    float: left;
    margin-left: 75px;
}

section#services aside img {
    width: 50%;
}
    
section#services h3 {
    font-size: 30px;
}
    
section#services p {
    font-size: 18px;
}
    
section#services .activity {
    width: 125px;
    font-size: 15px;
    margin-left: -100px;
}

section#adult {
    width: 1100px;
    height: 960px;
}

section#adult h2 {
    font-size: 45px;
    margin-top: 35px;
}    

section#adult aside p {
    font-size: 18px;
}    

section#adult aside {
    width: 325px;
    height: 300px;
    float: left;
    text-align: left;
    margin-left: 125px;
}
    
section#adult aside h3 {
    font-size: 30px;
}

section#lilkickers {
    width: 1100px;
    height: 1200px;
}

section#lilkickers h2 {
    font-size: 45px;
}

section#lilkickers img {
    width: 60%;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 220px;
}

section#lilkickers p {
    width: 750px;
    font-size: 18px;
    margin-left: 170px;
}
    
section#lilkickers .register {
    margin-left: 400px;
}
    
section#youth {
    width: 1100px;
    height: 800px;
}

section#youth h2 {
    font-size: 45px;
    margin-top: 35px;
}    

section#youth aside p {
    font-size: 18px;
}    

section#youth aside {
    width: 325px;
    height: 300px;
    float: left;
    text-align: left;
    margin-left: 125px;
}
    
section#youth aside h3 {
    font-size: 30px;
}
    
section#get {
    width: 1100px;
    height: 410px;
}

section#get p {
    font-size: 18px;
}

section#get aside {
    width: 15%;
    float: left;
    margin-left: 150px;
}

section#get aside img {
    width: 25%;
}

section#get .formpage {
    width: 180px;
    height: 60px;
    padding: 5px 8px 0px;
    margin-top: 0;
}

section#get .contact {
    margin-left: -30px;
}    

footer {
    width: 1100px;
}

.footercontent {
    margin-left: 125px;
}

.activities {
    width: 275px;
    font-size: 18px;
}

.footercontent img {
    margin-right: 225px;
}    

}
