/*UTILITY*/

body { margin: 0; font-family: Verdana, sans-serif; color: rgb(100,100,100); }

header { width: 100%; height: 60px; background: rgb(100,100,100); padding: 5px 0; margin-bottom: 15px; position: fixed; top: 0px; left: 0px; }
	#logo { width: 200px; height: 60px; background: rgb(200,200,200); float: left; margin-left: 10px;}
	nav { float: right; margin-right: 10px; }
	nav li { display: inline; margin-right: 20px; font-weight: bold; font-size: 18px; }
	nav li a { color: rgb(255,255,255); text-decoration: none; }
	nav li a:hover { color: rgb(150,150,150); text-decoration: underline; }
	
section.info { width: 100%; height: 400px; background: url(assets/bgplaceholder.jpg); background-size: 100% 100%; padding: 5px 0; margin-bottom: 5px; }
	.infocontent { width: 400px; margin: auto; padding-top: 40px; text-align: center; }
	section.info h1 { font-size: 35px; margin-top: 35px; margin-bottom: 30px; }
	section.info hr {width: 100px; height: 3px; margin: auto; background-color:#666; border: 0 none; margin-top: 15px; margin-bottom: 30px;}
	section.info p { margin-left: -30px; margin-bottom: 60px; }
	section.info .button { width: 180px; height: 25px; background: linear-gradient(#c8c8c8, #969696); text-align: center; padding: 2px 2px 2px; margin-top: 20px; border: 1px solid rgb(150,150,150); border-radius: 40px; cursor: pointer; margin-left: 100px; }
	section.info .button a { color: rgb(100,100,100); text-decoration: none; }
	section.info .button:hover { background: linear-gradient(#969696, #c8c8c8); }

section.services { width: 940px; height: 400px; background: rgb(220,220,220); margin: 0 auto 5px; padding: 5px 0; }
	section.services h2 { font-size: 25px; text-align: center; margin-bottom: 30px; }
	section.services hr {width: 100px; height: 3px; margin: auto; background-color:#666; border: 0 none; margin-top: 25px; margin-bottom: 30px;}
	section.services aside { width: 286px; height: 300px; float: left; text-align: center; margin-left: 20px; }
	section.services aside img { width: 45%; height: 100px; background: rgb(200,200,200); text-align: center; }
	section.services aside h3 { font-size: 25px; margin-bottom: 30px; text-align: center; margin-top: 10px; margin-left: -3px; color: rgb(100,100,100); }
	section.services aside p { font-size: 1em; padding: 0; margin: 0; }
	section.services .activity { width: 150px; height: 25px; background: linear-gradient(#c8c8c8, #969696); text-align: center; padding: 2px 2px 2px; margin-top: 20px; border: 1px solid rgb(150,150,150); border-radius: 40px; cursor: pointer; margin-left: 70px; }
	section.services .activity a { color: rgb(100,100,100); text-decoration: none; }
	section.services .activity:hover { background: linear-gradient(#969696, #c8c8c8); }

section.about { width: 100%; height: 275px; background: url(assets/bgplaceholder.jpg); background-size: 100% 100%; padding: 5px 0; margin-bottom: 5px; }
	section.about h2 { font-size: 25px; text-align: center; }
	section.about hr { width: 100px; height: 3px; background-color:#666; border: 0 none; margin-top: 15px; margin-bottom: 30px; }
	section.about p { margin-left: 300px; margin-right: 250px; }
	section.about .button { width: 130px; height: 25px; background: linear-gradient(#c8c8c8, #969696); text-align: center; padding: 2px 2px 2px; margin-top: 20px; border: 1px solid rgb(150,150,150); border-radius: 40px; cursor: pointer; margin-left: 690px; }
	section.about .button a { color: rgb(100,100,100); text-decoration: none; }
	section.about .button:hover { background: linear-gradient(#969696, #c8c8c8); }

section.get { width: 100%; height: 350px; background: rgb(220,220,220); padding: 5px 0; margin-bottom: 5px; }
	section.get h2 { font-size: 25px; text-align: center; margin-bottom: 30px; }
	section.get hr { width: 100px; height: 3px; background-color:#666; border: 0 none; margin-top: 15px; margin-bottom: 30px; }
    section.get p { text-align: center; }
	section.get aside { width: 286px; height: 100px; float: left; text-align: center; margin-top: 30px; margin-left: 300px; }
	section.get aside img { width: 15%; height: 50px; background: rgb(200,200,200); margin: auto; }
	section.get aside h3 { font-size: 15px; margin-top: 10px; margin-left: -3px; }
	section.get .contact { width: 225px; height: 50px; margin-top: 15px; font-size: 1em; margin-left: 35px; }
	.contact a { color: rgb(255,255,255); text-decoration: none; }
	.contact a:hover { color: rgb(150,150,150); text-decoration: underline; }

footer { width: 100%; height: 225px; background: rgb(100,100,100); padding: 5px 0; margin-top: 5px; margin-bottom: 5px; }
	.footercontent {margin-top: 25px; margin-left: 250px; }
	.footercontent h3 { width: 250px; height: 20px; margin-top: 2px; font-size: 15px; margin-left: 35px; color: rgb(255,255,255); }
	.activities { width: 250px; height: 20px; margin-top: 30px; font-size: 1em; margin-left: 35px; }
	.activities a { color: rgb(255,255,255); text-decoration: none; }
	.activities a:hover { color: rgb(150,150,150); text-decoration: underline; }
	.footercontent img { width: 20%; height: 150px; margin-top: 10px; float: right; margin-right: 325px; background: url(assets/bgplaceholder.jpg200x60?text=200x60 (Logo))}

.container { width: 940px; height: 100%; margin: auto; }