/*UTILITY*/

body { margin: 0; font-family: Verdana, sans-serif; color: rgb(100,100,100); }

header { width: 100%; height: 60px; background: rgb(100,100,100); padding: 5px 0; margin-bottom: 15px; position: fixed; top: 0px; left: 0px; }
	#logo { width: 200px; height: 60px; background: rgb(200,200,200); float: left; margin-left: 10px;}
	nav { float: right; margin-right: 10px; }
	nav li { display: inline; margin-right: 20px; font-weight: bold; font-size: 18px; }
	nav li a { color: rgb(255,255,255); text-decoration: none; }
	nav li a:hover { color: rgb(150,150,150); text-decoration: underline; }
	
section.info { width: 100%; height: 425px; background: url(assets/bgplaceholder.jpg); background-size: 100% 100%; padding: 5px 0; margin-bottom: 5px; }
	.infocontent { width: 1040px; margin: auto; padding-top: 40px; text-align: center; }
	section.info h1 { font-size: 35px; margin-top: 150px; margin-bottom: 30px; }
	section.info h3 { font-size: 20px; margin-top: 15px; margin-bottom: 30px; }

section.services { width: 940px; height: 500px; background: rgb(255,255,255); margin: 0 auto 5px; padding: 5px 0; }
	section.services h2 { font-size: 25px; text-align: center; margin-top: 60px; margin-bottom: 30px; }
	section.services hr {width: 100px; height: 3px; margin: auto; background-color:#666; border: 0 none; margin-top: 25px; margin-bottom: 50px;}
	section.services aside { width: 286px; height: 300px; float: left; text-align: center; margin-left: 20px; }
	section.services aside img { width: 45%; height: 100px; background: rgb(200,200,200); text-align: center; }
	section.services aside h4 { font-size: 25px; margin-bottom: 30px; text-align: center; margin-top: 10px; margin-left: -3px; color: rgb(100,100,100); }
	section.services aside p { font-size: 1em; padding: 0; margin: 0; }
	section.services aside .activity { width: 125px; height: 20px; background: linear-gradient(#c8c8c8, #969696); text-align: center; padding: 2px 1px 2px; margin-top: 20px; border: 1px solid rgb(150,150,150); border-radius: 40px; cursor: pointer; margin-left: 75px; }
	section.services aside .activity a { color: rgb(100,100,100); text-decoration: none; }
	section.services aside .activity:hover { background: linear-gradient(#969696, #c8c8c8); }

section.adult { width: 100%; height: 625px; background: rgb(250,250,250); background-size: 100% 100%; padding: 5px 0; margin-bottom: 5px; }
	section.adult h2 { font-size: 25px; text-align: center; margin-top: 60px; }
	section.adult hr { width: 100px; height: 3px; background-color:#666; border: 0 none; margin-top: 15px; margin-bottom: 30px; }
	section.adult aside { width: 525px; height: 300px; float: left; text-align: left; margin-left: 100px; }
	section.adult aside h3 { font-size: 25px; margin-bottom: 30px; text-align: left; margin-top: 10px; margin-left: -3px; color: rgb(100,100,100); }
	p { text-align: center; }
	section.adult aside .register { width: 150px; height: 20px; background: linear-gradient(#c8c8c8, #969696); text-align: center; padding: 2px 1px 2px; margin-top: 20px; border: 1px solid rgb(150,150,150); border-radius: 40px; cursor: pointer; margin-left: 25px; }
	section.adult aside .register a { color: rgb(100,100,100); text-decoration: none; }
	section.adult aside .register:hover { background: linear-gradient(#969696, #c8c8c8); }

section.lilkickers { width: 100%; height: 875px; background: #0B3861; color: rgb(255,255,255);
	background-size: 100% 100%; padding: 5px 0; margin-bottom: 5px; }
	section.lilkickers img { width: 50%; height: 250px; background: rgb(200,200,200); text-align: center; margin-top: 20px; margin-left: 300px; }
	section.lilkickers h2 { font-size: 25px; text-align: center; margin-top: 20px; }
	section.lilkickers hr { width: 100px; height: 3px; background-color:#666; border: 0 none; margin-top: 15px; margin-bottom: 30px; }
	p { text-align: center; }
	section.lilkickers p { width: 750px; text-align: left; margin-left: 300px; }
	section.lilkickers .register { width: 225px; height: 25px; background: linear-gradient(#c8c8c8, #969696); text-align: center; padding: 2px 2px 2px; margin-top: 20px; border: 1px solid rgb(150,150,150); border-radius: 40px; cursor: pointer; margin-left: 350px; }
	section.lilkickers .register a { color: rgb(100,100,100); text-decoration: none; }
	section.lilkickers .register:hover { background: linear-gradient(#969696, #c8c8c8); }

section.youth { width: 100%; height: 580px; background: rgb(250,250,250); background-size: 100% 100%; padding: 5px 0; margin-bottom: 5px; }
	section.youth h2 { font-size: 25px; text-align: center; margin-top: 60px; }
	section.youth hr { width: 100px; height: 3px; background-color:#666; border: 0 none; margin-top: 15px; margin-bottom: 30px; }
	section.youth aside { width: 525px; height: 300px; float: left; text-align: left; margin-left: 100px; }
	section.youth aside h3 { font-size: 25px; margin-bottom: 30px; text-align: left; margin-top: 5px; margin-left: -3px; color: rgb(100,100,100); }
	section.youth aside p { font-size: 1em; padding: 0; margin: 0; }
	p { text-align: center; }
	section.youth aside .register { width: 150px; height: 20px; background: linear-gradient(#c8c8c8, #969696); text-align: center; padding: 2px 1px 2px; margin-top: 20px; border: 1px solid rgb(150,150,150); border-radius: 40px; cursor: pointer; margin-left: 25px; }
	section.youth aside .register a { color: rgb(100,100,100); text-decoration: none; }
	section.youth aside .register:hover { background: linear-gradient(#969696, #c8c8c8); }

	section.get { width: 100%; height: 350px; background: rgb(220,220,220); padding: 5px 0; margin-bottom: 5px; }
	section.get h2 { font-size: 25px; text-align: center; margin-bottom: 30px; }
	section.get hr { width: 100px; height: 3px; background-color:#666; border: 0 none; margin-top: 15px; margin-bottom: 30px; }
    section.get p { text-align: center; }
	section.get aside { width: 286px; height: 100px; float: left; text-align: center; margin-top: 30px; margin-left: 300px; }
	section.get aside img { width: 15%; height: 50px; background: rgb(200,200,200); margin: auto; }
	section.get aside h3 { font-size: 15px; margin-top: 10px; margin-left: -3px; }
	section.get .contact { width: 225px; height: 50px; margin-top: 15px; font-size: 1em; margin-left: 35px; }
	.contact a { color: rgb(255,255,255); text-decoration: none; }
	.contact a:hover { color: rgb(150,150,150); text-decoration: underline; }

footer { width: 100%; height: 225px; background: rgb(100,100,100); padding: 5px 0; margin-top: 5px; margin-bottom: 5px; }
	.footercontent {margin-top: 25px; margin-left: 250px; }
	.footercontent h3 { width: 250px; height: 20px; margin-top: 2px; font-size: 15px; margin-left: 35px; color: rgb(255,255,255); }
	.activities { width: 250px; height: 20px; margin-top: 30px; font-size: 1em; margin-left: 35px; }
	.activities a { color: rgb(255,255,255); text-decoration: none; }
	.activities a:hover { color: rgb(150,150,150); text-decoration: underline; }
	.footercontent img { width: 20%; height: 150px; margin-top: 10px; float: right; margin-right: 325px; background: url(assets/bgplaceholder.jpg)}

.container { width: 1040px; height: 100%; margin: auto; }