/*UTILITY*/

body {
    margin: 0;
    font-family: Verdana, sans-serif;
    color: rgb(100, 100, 100);
}

header {
    width: 100%;
    height: 60px;
    background: rgb(100, 100, 100);
    padding: 5px 0;
    margin-bottom: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
}

#logo {
    width: 200px;
    height: 60px;
    background: rgb(200, 200, 200);
    float: left;
    margin-left: 10px;
}

nav {
    float: right;
    margin-right: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
}

nav li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav li a:hover {
    color: rgb(150, 150, 150);
    text-decoration: underline;
}

section.info {
    width: 100%;
    height: 400px;
    background: url(bgplaceholder.jpg);
    background-size: 100% 100%;
    padding: 5px 0;
    margin-bottom: 5px;
}

.infocontent {
    width: 600px;
    margin: auto;
    padding-top: 80px;
    text-align: center;
}

section.info h1 {
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 30px;
}

section.info h3 {
    margin-left: -30px;
    margin-bottom: 60px;
}

section.services {
    width: 1040px;
    height: 850px;
    background: rgb(255, 255, 255);
    margin: 0 auto 5px;
    padding: 5px 0;
}

section.services .col-lg-12 {
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

section.services h4 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 30px;
}

section.services hr {
    width: 100px;
    height: 3px;
    margin: auto;
    background-color: #666;
    border: 0 none;
    margin-top: 25px;
    margin-bottom: 30px;
}

p {
    text-align: center;
}

section.services .videocontent {
    width: 286px;
    height: 300px;
    float: right;
    text-align: center;
    background: url(bgplaceholder.jpg)
}

section.services .account {
    width: 325px;
    height: 300px;
    float: right;
    text-align: center;
}

.teetimes {
    width: 150px;
    height: 30px;
    background: linear-gradient(#c8c8c8, #969696);
    text-align: center;
    padding: 5px 1px 1px;
    margin-right: 100px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 10px;
}

.teetimes a {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

.teetimes:hover {
    background: linear-gradient(#969696, #c8c8c8);
}

.login {
    width: 75px;
    height: 20px;
    background: linear-gradient(#c8c8c8, #969696);
    text-align: center;
    padding: 2px 2px 2px;
    margin-right: 100px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login a {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

.login:hover {
    background: linear-gradient(#969696, #c8c8c8);
}

.createaccount {
    width: 160px;
    height: 30px;
    background: linear-gradient(#c8c8c8, #969696);
    text-align: center;
    padding: 5px 1px 1px;
    margin-right: 10px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 10px;
}

.createaccount a {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

.createaccount:hover {
    background: linear-gradient(#969696, #c8c8c8);
}

section.get {
    width: 100%;
    height: 350px;
    background: rgb(220, 220, 220);
    padding: 5px 0;
    margin-bottom: 5px;
}

section.get h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

section.get hr {
    width: 100px;
    height: 3px;
    background-color: #666;
    border: 0 none;
    margin-top: 15px;
    margin-bottom: 30px;
}

section.get p {
    text-align: center;
}

section.get aside {
    width: 286px;
    height: 100px;
    float: left;
    text-align: center;
    margin-top: 30px;
    margin-left: 300px;
}

section.get aside img {
    width: 15%;
    height: 50px;
    background: rgb(200, 200, 200);
    margin: auto;
}

section.get aside h3 {
    font-size: 15px;
    margin-top: 10px;
    margin-left: -3px;
}

section.get .contact {
    width: 225px;
    height: 50px;
    margin-top: 15px;
    font-size: 1em;
    margin-left: 35px;
}

.contact a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.contact a:hover {
    color: rgb(150, 150, 150);
    text-decoration: underline;
}

footer {
    width: 100%;
    height: 225px;
    background: rgb(100, 100, 100);
    padding: 5px 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footercontent {
    margin-top: 25px;
    margin-left: 250px;
}

.footercontent h3 {
    width: 250px;
    height: 20px;
    margin-top: 2px;
    font-size: 15px;
    margin-left: 35px;
    color: rgb(255, 255, 255);
}

.activities {
    width: 250px;
    height: 20px;
    margin-top: 30px;
    font-size: 1em;
    margin-left: 35px;
}

.activities a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.activities a:hover {
    color: rgb(150, 150, 150);
    text-decoration: underline;
}

.footercontent img {
    width: 20%;
    height: 150px;
    margin-top: 10px;
    float: right;
    margin-right: 325px;
    background: url(bgplaceholder.jpg)
}

.container {
    width: 1040px;
    height: 100%;
    margin: auto;
}
