/*UTILITY*/

.contact-container {
    background: rgb(200, 200, 200);
    border: 4px solid rgb(0, 0, 0);
    padding: 20px;
}

h1 {
    font-size: 40px;
    text-align: center;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
    margin-bottom: 40px;
}

form label,
p {
    font-size: 18px;
}

.form-control {
    max-width: 500px;
    width: 100%;
    background-color: white;
    color: black;
    margin-bottom: .75rem;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    padding: .175rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
}
